


body {
    background-color: rgba(47, 79, 79, 1);
    font-family: Arial, sans-serif; /* Added font family for better readability */
    
}

.jumbotron p {
    font-size: 1.2em;
    color: rgb(8, 0, 0)!important;
}

div {
    color: rgb(0, 0, 0) !important;
}

.navbar-logo {
    height: 60px; /* Adjust the height as needed */
    width: 60px;
    margin-right: 15px;
    border-radius: 8px;
}

.bg-primary {
    background-color: rgba(39, 44, 56, 0.979) !important;
}


.navbar {
    background-color: rgba(65, 105, 225, 0.185);
    justify-content: flex-start;
}

.u {
    color: rgb(3, 0, 0) !important;
}

.h{
    position: absolute;
    text-align: left;
    top: 50%;
    left: -2.5%;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    transform: translate(-50%, -50%);
    font-weight: bolder!important;
    color: rgb(8, 0, 0)!important;
    
}

a:hover {
    color: darkblue;
}

.lead {
    text-align: center;
    display : flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto !important;
}

.card-body {
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Added shadow for depth */
}

/* New media queries for responsiveness */
@media (max-width: 768px) {
    .card {
        width: 100%; /* Full width on smaller screens */
        padding: 1em; /* Adjust padding */
    }
    
    .navbar-logo {
        height: 50px; /* Adjust logo size for smaller screens */
        width: 50px;
    }
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.h{
    position: absolute;
    top: 50%;
    left: -.5%;
    transform: translate(-50%, -50%);
    font-weight: bolder!important;
    color: rgb(8, 0, 0)!important;
    
}
