<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <title>{{ title }}</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

      <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" type="text/css">
      <link rel="stylesheet" href="{{ url_for('static', filename='youface.css') }}" type="text/css">
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      {% block head %} {% endblock %}
    </head>

    <body>
       <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <img src="static/images/Designer.jpeg" alt="Logo" class="navbar-logo">
    <button class="navbar-toggler" name="ham" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% if user %} 
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/settings">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://musescore.com">MuseScore</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="https://www.spacex.com">Space X</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="https://www.pygame.org/wiki/Contribute">PYgame</a>
              </li>

            </ul>
            <ul class="navbar-nav pull-right d-flex">
            {% endif %}

            {% if user %}
              <form method="post" action="/logout" class="mr-2">
                <button type="submit" class="form-control btn btn-secondary" name="logout">Logout</button>
              </form>
            </ul>
            {% endif %}

          </div>
        </div>
      </nav>

                    
      <div class="social1">
        <a title="Our Instagram Account" target="_blank" href="https://www.instagram.com/resaletalhuda/"><i class="fa-brands fa-instagram"></i></a>
        <a title="Our Twitter Account" target="_blank" href="https://twitter.com/resaltalhuda?t=kJ9Rc4nPUr9lZ1bKu2AuFg&s=09"><i class="fa-brands fa-twitter"></i></a>
        <a title="Our Snapchat Account" target="_blank" href="https://www.snapchat.com/add/resaltalhuda?share_id=JDGvHLETQ4s&locale=en-GB"><i class="fa-brands fa-snapchat"></i></a>
        <a title="Our Whatsapp Account" target="_blank" href="https://api.whatsapp.com/send/?phone=%2B966536020700&text&type=phone_number&app_absent=0"><i class="fa-brands fa-whatsapp"></i></a>
        <a title="Our Facebook Account" target="_blank" href="https://www.facebook.com/ResaltAlhudaInternationalSchool/"><i title="Our Facebook" class="fa-brands fa-facebook-f"></i></a>


      </div>
      <!--Legend was here-->

      <div class="jumbotron">
        <div class="container flex">
          
        <div class="container">
          <h1 class="h">{{title}}</h1>
          <!--<p class="lead">{{subtitle}}</p>-->
        </div>
      </div>

      <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-dismissible alert-{{ category }} fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}
      </div>
    </body>
</html>
